деловая ком/В настоящее время одной из наиболее стремительно развивающихся отраслей деятельности в нашей стране является сфера бизнеса.docx
деловая ком/Untitled (5).pptx
линейка индивидуалки/Глава 10.pdf
линейка индивидуалки/Глава I.pdf
линейка индивидуалки/Глава III.pdf
линейка индивидуалки/Individ_Zadanie_KLIMENKO_IV_Glava1.docx
линейка индивидуалки/Individ_Zadanie_KLIMENKO_IV_Glava3.docx
линейка индивидуалки/Individ_Zadanie_Maslova_PO (1).docx
линейка индивидуалки/Individualnoe_zadanie_2_Parkhomenko_N_S.docx
хистори/~$123.docx
хистори/123.docx
хистори/1960-1980 СОЦ ЭКОН.docx
хистори/Государственная дума Российской империи 1906.docx
game/cloud.py
game/helicopter.py
game/level.json
game/main.py
game/map.py
game/Screenshot_2.png
game/Screenshot_3.png
game/Screenshot_4.png
game/utils.py
game/__pycache__/cloud.cpython-311.pyc
game/__pycache__/cloud.cpython-312.pyc
game/__pycache__/helicopter.cpython-311.pyc
game/__pycache__/helicopter.cpython-312.pyc
game/__pycache__/map.cpython-311.pyc
game/__pycache__/map.cpython-312.pyc
game/__pycache__/utils.cpython-311.pyc
game/__pycache__/utils.cpython-312.pyc
Игры на с++ илья/Виселица.docx
САЙТИК/first.html
САЙТИК/header.jpg
САЙТИК/index.html
САЙТИК/oFirme.html
САЙТИК/second.html
САЙТИК/third.html
САЙТИК/css/normalize.css
САЙТИК/css/style.css
САЙТИК/css/styles.css
САЙТИК/libs/bootstrap-grid.min.css
САЙТИК/libs/bootstrap-reboot.min.css
~$сударственная дума Российской империи 1906.docx
САЙТИК.rar
