<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт визитка</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        a { 
         text-decoration: none; /* Отменяем подчеркивание у ссылки */
        }
        
       </style>
</head>
<body>
    <div class="main">
        <div class = "text-main">
            <img src="ghoul.jpg" alt="ghoul png" width="500" height="300">
            <h1>Илья Клименко</h1>
            <p>Ученик 11 А класса</p> 
            <p2>
            <a href="https://www.instagram.com/ler0yyyy/">Инст</a>
            <a href="https://vk.com/malchik_lyna">ВК</a>
            </p2>
        </div>
    </div>
    <div class="portname">
        <h2>Портфолио</h2>
    </div>
    <div class="partfolio">
        <div class="container">
            <div class="card">
                <p><a href="https://www.youtube.com/watch?v=4E8sr4QS7OI&t=348s">Adobe Photoshop Lightroom Classic CC 2022</a></p>
            </div>
            <div class="card">
                <p><a href="https://www.youtube.com/watch?v=E_QzYwwtAzw">Adobe After Effects 2022</a>
                </p>
            </div>
            <div class="card">
                <p><a href="https://www.youtube.com/watch?v=Q9qr0F6vux0">Adobe Illustrator 2022</a></p>
            </div> 
        </div>
    </div>
</body>
</html>